*,*:before,*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;/*rem算出をしやすくするために*/
}

div{
    position: absolute;
    margin-top: 20%;
    display: block;
    width: 100%;
    /* background-color: chartreuse; */
}
button{
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 100px;
    color: #eee;
    border: none;
}
button:nth-child(even){
    margin-top: 100px;
    background-color: orange;
    transform: translateX(100%);
}
button:nth-child(odd){
    background-color: darkcyan;
    float: right;
    transform: translateX(-100%);
}

.ui {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 15px 30px;
    text-align: center;
    box-sizing: border-box;
}
.ui a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    line-height: 100%;
    color: #303030;
    margin: 10px 3px;
    border-radius: 50%;
    position: relative;

}
.ui a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ui a:active {
    color: #ff0000;
}

#snap {
    max-width: 100%;
    height: auto;
    display: block;;
    visibility: hidden;
}
.ui a.disabled {
    pointer-events: none;
    color: #cccccc;
}
#snap.visible {
    visibility: visible;
}