*,*:before,*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;/*rem算出をしやすくするために*/
}

div{
    position: absolute;
    margin-top: 20%;
    display: block;
    width: 100%;
    /* background-color: chartreuse; */
}
button{
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 100px;
    color: #eee;
    border: none;
}
button:nth-child(even){
    margin-top: 100px;
    background-color: orange;
    transform: translateX(100%);
}
button:nth-child(odd){
    background-color: darkcyan;
    float: right;
    transform: translateX(-100%);
}