*,*:before,*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;/*rem算出をしやすくするために*/
}

div#stamp-list{
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;   
    transform: translate(-50%,-150%);
}

div#stamp-list a{
    width: 200px;
    height: 80px;
    z-index: 100;
    margin: 2rem;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 100% 80px / 80px 100%;
    background-color: #eb6100;
}
div#stamp-list a:hover {
    color: #fff;
    border-radius: 60% 80% / 100% 80%;
}

div#stamp-list a p{
    position: relative;
    top: 10px;
    font-size: 1.5rem;
}
div#stamp-list button{
    position: relative;
    background-color: #0090bb;
    color: #fff;
    font-size: 2erm;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px ;
}


button#camera-back{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    z-index: 100;
    background-color: #0bb2ff;
    border-radius: 50%;
    border: none;
    transform: translateY(-150%);
}
button#camera-back img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div.btn-list{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}
.btn-list button{
    position: relative;
    width: 65px;
    height: 65px;
    display: block;
    margin-top: 70px;
    border-radius: 50%;
    border: none;
    opacity: 0;
    transform: translateY(-900%);
    cursor: pointer;
}
/* .btn-list button:hover{

} */
button:first-child img{
    transform: rotate(90deg);
}
.btn-list button img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button:nth-child(odd){
    background-color: orange;
    transition: .8s;
}
button:nth-child(even){
    background-color: darkcyan;
    transition: .8s;
}
button.slidein{
    opacity: 1;
    transition: .8s;
    transform: translateY(0%);
}
button:nth-child(2).slidein{
    transition-delay: .3s;
    transform: translateY(0%);
    
}
button:nth-child(3).slidein{
    transition-delay: .6s;
    transform: translateY(0%);
}
button:nth-child(4).slidein{
    transition-delay: .9s;
    transform: translateY(-0%);
}

/* info */
div.info{
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    width: 100%;
    max-height: 0%;
    background-color: #eee;
    border-radius: 30px 30px 0px 0px;
}
div.info img{
    position:relative;
    height: 300px;
    width: 100%; 
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 20px; */
    border-radius: 30px 30px 0px 0px;
}
div.info div{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 30px;
}
div.info div .backbtn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2erm;
    background-color: #0090bb;
    color: #fff;
    width: 100px;
    height: 50px;
}

/* カメラ */
div.photo-contens {
    position:absolute;
    /* z-index: 100; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    transform: translateY(200%);
}

.photo-contens a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #0bb2ff;
    line-height: 100%;
    margin:0 2rem 1rem 0;
    border-radius: 50%;
    position: relative;
}

.photo-contens a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.photo-contens a:active {
    color: #ff0000;
}

#snap {
    max-width: 100%;
    height: auto;
    display: block;;
    visibility: hidden;
}
.photo-contens a.disabled {
    pointer-events: none;
    color: #cccccc;
}
#snap.visible {
    visibility: visible;
}

