*,*:before,*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;/*rem算出をしやすくするために*/
}

div.btn-list{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 10%;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
}
button{
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    color: #eee;
    border: none;
}
button:nth-child(odd){
    margin-top: 100px;
    background-color: orange;
    /* transform: translateX(100%); */
}
button:nth-child(even){
    float: right;
    /* margin-top: 100px; */
    background-color: darkcyan;
    /* transform: translateX(-100%); */
}

div.photo-contens {
    position:absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}
.photo-contens a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #0bb2ff;
    line-height: 100%;
    color: #303030;
    margin: 10px 3px;
    border-radius: 50%;
    position: relative;
}
.photo-contens a:nth-child(1){
    float: left;
}

.photo-contens a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.photo-contens a:active {
    color: #ff0000;
}

#snap {
    max-width: 100%;
    height: auto;
    display: block;;
    visibility: hidden;
}
.photo-contens a.disabled {
    pointer-events: none;
    color: #cccccc;
}
#snap.visible {
    visibility: visible;
}